body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 400px;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
    border-radius: 10px;
}

.btns{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
}

input{
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
button:active{
    background-color: rgb(48, 47, 47);
}

.btn{
    background-color: rgb(245, 122, 14);
    font-size: 40px;
}

.btn:hover{
    background-color: rgb(242, 181, 90);
}

.btn:active{
    background-color: rgb(198, 124, 49);
}